.flex-container {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.flex-item {
  align-self: auto;
  flex: 0 1 auto;
}

.form-block {
  border: 3px outset black;
  margin: 1em;
  padding: 0.5em;
  width: 32em;
}

.form-block-row-element {
  min-height: 144px;
}

.form-row {
  margin: 0.25em 0;
}

.form-row-separator {
  margin: 1em 0;
}

.result-rows {
  margin: 1.5em 0 0.25em;
}

.result-row {
  margin: 0.5em 0 0;
}

.result-label {
  padding: 0 0.25em 0 0;
}
