<div class="flex-container">
  <div class="flex-child">
    <div class="form-block form-block-row-element">
      <h1>3-State-Checkbox with NgModel</h1>
      <div class="form-row">
        <mat-tristate-checkbox [(ngModel)]="isHoliday" [color]="'primary'" [disabled]="isHolidayDisabled" [labelPosition]="'before'">is holiday?</mat-tristate-checkbox>
      </div>
      <div class="form-row">
        <span><mat-checkbox [(ngModel)]="isHolidayDisabled">disable checkbox</mat-checkbox></span>
      </div>
      <div class="result-rows">
        <div class="result-row">
          <span class="result-label">Tristate variable value in app.component:&nbsp;</span><span>{{formatTristateValue(isHoliday)}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-child">
    <div class="form-block form-block-row-element">
      <h1>3-State-Checkbox with Form Control</h1>
      <form [formGroup]="form">
        <div class="form-row">
          <mat-tristate-checkbox formControlName="hasTrack">has track?</mat-tristate-checkbox>
        </div>
        <div class="form-row">
          <button (click)="resetForm()">Reset Form</button>
        </div>
      </form>
      <div class="result-rows">
        <div class="result-row">
          <span class="result-label">Tristate variable value in app.component:&nbsp;</span><span>{{formatTristateValue(form.get('hasTrack').value)}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
